<div class="container">
    <div class="block-header" style="background: rgb(0, 255, 191) ; width: 400px; ">


        <ul class="nav nav-tabs header">
            <li class="nav-item">
                <a class="nav-link" routerLink="page1" routerLinkActive="active" style="width:200px">LAB01</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="page2" routerLinkActive="active" style="width:200px">LAB02</a>
            </li>
        </ul>
    </div>
</div>