<div class="block-header" style=" width: 410px; background: rgb(152, 215, 252) ; margin-left: 210px    ">
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" [routerLink]="['/hcn']" routerLinkActive="router-link-active"
            style="width: 350px; margin: 40px 40px 40px;background: rgb(0, 255, 191)">Hình chữ nhật
        </a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/ttsv']" routerLinkActive="router-link-active"
            routerLinkActive="active" style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Thông
            tin sinh viên</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/ttl']" routerLinkActive="router-link-active"
            routerLinkActive="active" style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Tổng
            tiền lương</a>
        <a class="list-group-item list-group-item-action" [routerLink]="['/banhang']"
            routerLinkActive="router-link-active" routerLinkActive="active"
            style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Bán hàng</a>

    </div>
</div>