<div class="block-header" style=" width: 410px; background: rgb(152, 215, 252) ; margin-left: 210px    ">
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai1" routerLinkActive="active"
            style="width: 350px; margin: 40px 40px 40px;background: rgb(0, 255, 191)">Bài Tập
            1</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai2" routerLinkActive="active"
            style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Bài Tập
            2</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai3" routerLinkActive="active"
            style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Bài Tập
            3</a>
        <a class="list-group-item list-group-item-action" href="#" routerLink="bai4" routerLinkActive="active"
            style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Bài Tập
            4</a>
        <a class="list-group-item list-group-item-action" href="#" [routerLink]="['/cart']"
            style="width: 350px;  margin: 40px 40px 40px;background: rgb(0, 255, 191)">Your
            Cart</a>
    </div>
</div>